{{ if .Site.Data.homepage.about.enable }}
    <div class="inner posts" id="about">
        <div class="container-align">
            <div class="left">
                <img src="{{ .Site.Data.homepage.about.image }}" alt="{{ $.Site.Title }}" class="profile-image">
            </div>
            <div class="right">
                <div class="title-left">
                    {{ i18n "about_me_title" }}
                </div>
                <div class="info-text">
                    {{ i18n "about_me_info" | safeHTML }}
                </div>
            </div>
        </div>
        <div class="container-align"></div>
        <div class="no-padding">
            {{- partial "experience.html" . -}}
            {{- partial "education.html" . -}}
            {{- partial "soft-skills.html" . -}}
            {{- partial "hard-skills.html" . -}}
            {{- partial "publications.html" . -}}
            {{- partial "awards.html" . -}}
        </div>
    </div>
{{ end }}

<style media="screen">

</style>
