{{ if .Site.Data.homepage.awards.enable }}
    <div class="inner posts" id="awards">
        <div class="container-align">
            <div class="left">
                {{ i18n "awards_title" }}
            </div>
        </div>
        {{ if .Site.Data.homepage.awards.items }}
            <div class="no-padding container cards-container">
                {{ range .Site.Data.homepage.awards.items }}
                    <div class="column-5">
                        <div class="card awards">
                            <div class="card-image-container-big">
                                <img class="card-image card-image-big" src="{{ .image }}">
                            </div>
                            <div class="card-content">
                                <div class="title title-award"> {{ i18n .name }} </div>
                                <div class="subtitle"> {{ i18n .organisation }} </div>
                                <div class="subtitle"> {{ i18n .date_month }} {{ .date_year }} </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        {{ end }}
    </div>
{{ end }}

<style media="screen">
    .awards {
        border-top-color: #00b20e;
        height: 230px;
    }
    .margin-bottom {
        margin-bottom: 10px;
    }
    .title-award {
        min-height: 50px;
    }
    @media screen and (max-width: 600px) {
        .title-award {
            font-size: 12px !important;
            line-height: 1.5;
        }
    }
</style>
