<div class="inner posts" id="contact">
    <div class="container-contact">
        <div class="center title-left">
            {{ i18n "contact_title" }}
        </div>
    </div>
    <div class="form-container">
        <form
          action="https://formspree.io/f/xvoawnzw"
          method="POST"
        >
          <label>
            {{ i18n "name" }}
            <input type="text" name="name">
          </label>
          <label>
            {{ i18n "email" }}
            <input type="text" name="_replyto">
          </label>
          <label>
            {{ i18n "subject" }}
            <input type="text" name="_subject">
          </label>
          <label>
            {{ i18n "message" }}
            <textarea name="message"></textarea>
          </label>

          <button type="submit" class="submit-btn"> {{ i18n "send_message" }} </button>
        </form>
    </div>
</div>
