{{ if .Site.Data.homepage.education.enable }}
    <div class="container-align">
        <div class="left">
            {{ i18n "education_title" }}
        </div>
    </div>
    <div class="education-content">
    {{ if .Site.Data.homepage.education.items }}
        {{ range .Site.Data.homepage.education.items }}
            <div class="experience">
                <div class="container-align no-bottom top-info">
                    <div class="left-small">
                        {{ i18n .degree }}
                    </div>
                    <div class="right-small">
                        <div class="small-info">
                            {{ i18n .university }}
                        </div>
                        <div class="small-info separator"> | </div>
                        <div class="small-info year">
                            {{ .start_year }} - {{ .end_year }}
                        </div>
                        <div class="small-info separator"> | </div>
                        <div class="small-info loc-edu">
                            {{ if .remote }}
                                {{ i18n "remote" }}
                            {{ else }}
                                {{ .city }}, {{ i18n .country }}
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="description">
                    {{ i18n .description }}
                </div>
            </div>
        {{ end }}
    {{ end }}
    </div>
{{ end }}

<style media="screen">
    .education-content {
        margin-bottom: 150px;
    }
    .no-bottom {
        margin-top: 50px !important;
        margin-bottom: 15px !important;
    }
    .small-info {
        display: inline-block;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .separator {
        margin: 0 5px;
    }
</style>
