{{ if .Site.Data.homepage.experience.enable }}
    <div class="container-align">
        <div class="left">
            {{ .Site.Data.homepage.experience.title }}
        </div>
    </div>
    <div class="experience-content">
    {{ if .Site.Data.homepage.experience.items }}
        {{ range .Site.Data.homepage.experience.items }}
            <div class="experience">
                <div class="container-align no-bottom top-info">
                    <div class="left-small">
                        {{ .title }}
                    </div>
                    <div class="right-small">
                        <div class="small-info">
                            {{ .company }}
                        </div>
                        <div class="small-info separator"> | </div>
                        <div class="small-info duration">
                            {{ .duration }}
                        </div>
                        <div class="small-info separator"> | </div>
                        <div class="small-info loc-exp">
                            {{ .location }}
                        </div>
                    </div>
                </div>
                <div class="description">
                    {{ .description }}
                </div>
                {{ range .skills }}
                    <div class="skill {{ . }}">
                        {{ . }}
                    </div>
                {{ end }}
            </div>
        {{ end }}
    {{ end }}
    </div>
{{ end }}

<style media="screen">
    .experience-content {
        margin-bottom: 150px;
    }
    .no-bottom {
        margin-bottom: 25px;
    }
    .small-info {
        display: inline-block;
        font-size: 15px;
    }
    .separator {
        margin: 0 10px;
    }
    .skill {
        display: inline-block;
        margin: 10px 10px 10px 0;
        padding: 0 10px;
        border-radius: 50px;
        background-color: purple;
        color: white;
        font-size: 12px;
    }
    .duration {
        width: 170px;
    }
    .loc-exp {
        width: 150px;
    }
</style>
