{{ if .Site.Data.homepage.experience.enable }}
    <div class="container-align">
        <div class="left left-title">
            {{ i18n "experience_title" }}
        </div>
    </div>
    <div class="experience-content">
    {{ if .Site.Data.homepage.experience.items }}
        {{ range .Site.Data.homepage.experience.items }}
            <div class="experience">
                <div class="container-align no-bottom top-info">
                    <div class="left-small">
                        {{ i18n .title }}
                    </div>
                    <div class="right-small">
                        <div class="small-info">
                            {{ .company }}
                        </div>
                        <div class="small-info separator"> | </div>
                        <div class="small-info duration">
                            {{ i18n .start_month }} {{ .start_year }} - {{ i18n .end_month }} {{ .end_year }}
                        </div>
                        <div class="small-info separator"> | </div>
                        <div class="small-info loc-exp">
                            {{ .city }}, {{ i18n .country }}
                        </div>
                    </div>
                </div>
                <div class="description">
                    {{ i18n .description | safeHTML }}
                </div>
                {{ range .skills }}
                    <div class="skill {{ . }}">
                        {{ . }}
                    </div>
                {{ end }}
            </div>
        {{ end }}
    {{ end }}
    </div>
{{ end }}

<style media="screen">
    .left-title {
        padding-bottom: 50px;
        width: 100%;
    }
    .experience-content {
        margin-bottom: 150px;
    }
    .no-bottom {
        margin-bottom: 15px !important;
    }
    .small-info {
        display: inline-block;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .separator {
        margin: 0 5px;
    }
    .skill {
        display: inline-block;
        margin: 10px 10px 0 0;
        padding: 0 10px;
        border-radius: 50px;
        background-color: purple;
        color: white;
        font-size: 12px;
    }
    @media screen and (max-width: 600px) {
        .description {
            margin-bottom: 10px;
        }
    }
</style>
