{{ if .Site.Data.homepage.publications.enable }}
    <div class="inner posts" id="publications">
        <div class="container-align">
            <div class="left">
                {{ i18n "publications_title" }}
            </div>
        </div>
        {{ if .Site.Data.homepage.publications.items }}
            {{ range .Site.Data.homepage.publications.items }}
                <a href="{{ .url }}" class="column-4" target="_blank">
                    <img class="card-image card-image-publication" src="{{ .image }}">
                    <div class="title title-award"> {{ i18n .name }} </div>
                    <div class="subtitle"> {{ i18n .organisation }} </div>
                    <div class="subtitle"> {{ i18n .date_month }} {{ .date_year }} </div>
                    <div class="subtitle"> {{ i18n .language }} </div>
                </a>
            {{ end }}
        {{ end }}
    </div>
{{ end }}

<style media="screen">
    .margin-bottom-50 {
        margin-bottom: 50px;
    }
    .card-image-publication {
        max-height: 300px;
        min-height: 300px;
        position: relative;
    }
    .title {
        margin-top: 15px;
        font-weight: bold;
        font-size: 16px;
    }
    .subtitle {
        font-size: 14px;
    }
    .column-4 {
        text-align: center;
        color: rgba(255,255,255,.75);
    }
</style>
</div>
